/* Styles.CSS*/

/*styling the body*/
body {
    font-family:  'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color:#FFB6C1;
    color: #000000;
    font-size: 20px;
}


/*styling the heading*/
header {
    background-color: #000000;
    color:blue;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 82px;
    margin: 0;
}
/* Unordered list styling */
ul {
    list-style-type:disc;
    padding-left:20px;
}

/* list item styling */
ul li {
    font-size:20px;
    margin: 5px 0;
}

/* Link styling inside the unordered list */
ul li a {
    color: black !important; /* Force link color to black */
    text-decoration: underline;
}

/*section styling*/
section {
    background-color: #FFB6C1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/*section heading*/
section h2 {
    color: #FFB6C1;
    font-size:98px;
    margin-bottom:10px;
}

/*Paragraph styling*/
section p {
    font-size: 26px;
    line-height: 1.6;
    color: #333;
}

/*section heading*/
section h3 {
    color: #FFB6C1;
    font-size:100px;
    margin-bottom:10px;
}

/*Link styling for all Links*/
a {
    color: #E6E6FA; /* Default link color*/
    text-decoration: underline;
}

/*Footer Styling*/
footer ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
  margin: 10px auto;
}

footer ul li {
  font-size: 16px;
  margin: 5px 0;
  color: black;
}
